#title{
    color: #B8621B;
    font-size: 70px;
    margin-top: 0;
}

html{
    background-color: black;
}

#header{
    text-align: center;

    color: goldenrod;
    background-color: rgb(20, 19, 19);
}




#movie{
    
    color: white;
    font-weight:500;
    

}

#party{
    color: white;


}

button{
    background-color: #213555;
    
}


img{
    border: 1px solid gold;
    margin: 0;

}




.button{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button{
    text-align: center;
    font-size: 30px;
    background-color:rgb(20, 19, 19) ;
}




/* CSS */
.button-1 {
  background-color: goldenrod;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: silver;
}