*{
    text-align: center;
}


html{
    background-color: black;
}

*{
    color:azure;
}

.content{
    font-size: 20px;
    font-style: oblique;
}

img{
    border: 5px solid white;
}
